# Iteración y operaciones lógicas

In [1]:
# Todas las operaciones lógicas nos devuelven un resultado

a = 5
b = 1

# Evaluación True
print(a > b) # mayor estricto

True

In [2]:
# evaluación False
print(a < b) # menor estricto

False

In [4]:
# Puedo utilizar otros operadores lógicos '<=' o '>=' -'not'
print(a <= b)
print(a >= b)

False
True

In [5]:
a = False
a

False

In [6]:
print(not a)

True

In [7]:
# Para poder realizar una comparativa utilizando IF...ELIF .... ELSE
#Ejemplo con Iteración IF

a = 5
b = 5
if a > b:
    print('a es mayor que b')
elif a < b:
    print('a es menor que b')
else:
    print('a es igual a b')

a es igual a b

## Iteraciones FOR

In [9]:
# Creamos una array, list o (español sería arreglo o lista de valores)
monsters = ["Kraken", "Leviathan", "Uroborus", "Hydra"] # este es un vector, iterable o un simple listado
print(monsters)

['Kraken', 'Leviathan', 'Uroborus', 'Hydra']

In [22]:
len(monsters)

4

In [23]:
a = 4
if a == len(monsters): # comparativa de una variable global y una evaluación de un contexto a un objeto al "vuelo"
    print("Correcto")
else:
    print("Erroneo")

Correcto

In [11]:
type(monsters)

list

In [13]:
# Para llamar el primer elemento no lo hago de esta forma
monsters["Kraken"]

TypeError: list indices must be integers or slices, not str

In [15]:
# Tengo que extraer el primer valor por su índice (en python la primera posición es índice 0 (cero))
monsters[0]

'Kraken'

In [17]:
monsters[3] # esta sería la posición 4 (sería 4 - 1 e indicamos el índice)

'Hydra'

In [18]:
monsters[-1] # también puedo extraer el valor desde atrás hacia adelante (-1 sería la última posición)

'Hydra'

In [20]:
# Una forma cómoda de extraer todos los valores o aquellos según condición, utilizamos el FOR
for monster in monsters:
    print(monster)

Kraken
Leviathan
Uroborus
Hydra

In [21]:
# También puedo mostrar su índice lo realizaría con la función enumerate
for i, monster in enumerate(monsters):
    print(i, monster)

0 Kraken
1 Leviathan
2 Uroborus
3 Hydra

***
## Iteración con While

In [28]:
i = 0
i

0

In [29]:
i

0

In [27]:
i = 1
i

1

In [33]:
i = 0 # valor incremental
while i < len(monsters): # evaluamos que cuando i sea menor que la longitud de monsters
    print(i, monsters[i])
    i += 1
print("Los monstruos de nuestra lista son : " + str(len(monsters)))

0 Kraken
1 Leviathan
2 Uroborus
3 Hydra
Los monstruos de nuestra lista son : 4

### Laboratorio de Fibonacci

In [40]:
# Realizamos un cálculo de la serie de fibonacci
n = 1500000000000000000000000000000000000000000000000000000
a, b = 0, 1
# construimos nuestro iterador
while a < n:
    print(a, end = " ")
    a, b = b, a+b # es lo mismo que realizar a = b  y abajo otra linea b = a+b
%time

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986 102334155 165580141 267914296 433494437 701408733 1134903170 1836311903 2971215073 4807526976 7778742049 12586269025 20365011074 32951280099 53316291173 86267571272 139583862445 225851433717 365435296162 591286729879 956722026041 1548008755920 2504730781961 4052739537881 6557470319842 10610209857723 17167680177565 27777890035288 44945570212853 72723460248141 117669030460994 190392490709135 308061521170129 498454011879264 806515533049393 1304969544928657 2111485077978050 3416454622906707 5527939700884757 8944394323791464 14472334024676221 23416728348467685 37889062373143906 61305790721611591 99194853094755497 160500643816367088 259695496911122585 420196140727489673 679891637638612258 1100087778366101931 1779979416004714189 2880067194370816120 4660046610375530309 7540113804746346429 12200160415121876738 19740274219868223167 31940434634990099905 51680708854858323072 83621143489848422977 135301852344706746049 218922995834555169026 354224848179261915075 573147844013817084101 927372692193078999176 1500520536206896083277 2427893228399975082453 3928413764606871165730 6356306993006846248183 10284720757613717413913 16641027750620563662096 26925748508234281076009 43566776258854844738105 70492524767089125814114 114059301025943970552219 184551825793033096366333 298611126818977066918552 483162952612010163284885 781774079430987230203437 1264937032042997393488322 2046711111473984623691759 3311648143516982017180081 5358359254990966640871840 8670007398507948658051921 14028366653498915298923761 22698374052006863956975682 36726740705505779255899443 59425114757512643212875125 96151855463018422468774568 155576970220531065681649693 251728825683549488150424261 407305795904080553832073954 659034621587630041982498215 1066340417491710595814572169 1725375039079340637797070384 2791715456571051233611642553 4517090495650391871408712937 7308805952221443105020355490 11825896447871834976429068427 19134702400093278081449423917 30960598847965113057878492344 50095301248058391139327916261 81055900096023504197206408605 131151201344081895336534324866 212207101440105399533740733471 343358302784187294870275058337 555565404224292694404015791808 898923707008479989274290850145 1454489111232772683678306641953 2353412818241252672952597492098 3807901929474025356630904134051 6161314747715278029583501626149 9969216677189303386214405760200 16130531424904581415797907386349 26099748102093884802012313146549 42230279526998466217810220532898 68330027629092351019822533679447 110560307156090817237632754212345 178890334785183168257455287891792 289450641941273985495088042104137 468340976726457153752543329995929 757791618667731139247631372100066 1226132595394188293000174702095995 1983924214061919432247806074196061 3210056809456107725247980776292056 5193981023518027157495786850488117 8404037832974134882743767626780173 13598018856492162040239554477268290 22002056689466296922983322104048463 35600075545958458963222876581316753 57602132235424755886206198685365216 93202207781383214849429075266681969 150804340016807970735635273952047185 244006547798191185585064349218729154 394810887814999156320699623170776339 638817435613190341905763972389505493 1033628323428189498226463595560281832 1672445759041379840132227567949787325 2706074082469569338358691163510069157 4378519841510949178490918731459856482 7084593923980518516849609894969925639 11463113765491467695340528626429782121 18547707689471986212190138521399707760 30010821454963453907530667147829489881 48558529144435440119720805669229197641 78569350599398894027251472817058687522 127127879743834334146972278486287885163 205697230343233228174223751303346572685 332825110087067562321196029789634457848 538522340430300790495419781092981030533 871347450517368352816615810882615488381 1409869790947669143312035591975596518914 2281217241465037496128651402858212007295 3691087032412706639440686994833808526209 5972304273877744135569338397692020533504 9663391306290450775010025392525829059713 15635695580168194910579363790217849593217 25299086886458645685589389182743678652930 40934782466626840596168752972961528246147 66233869353085486281758142155705206899077 107168651819712326877926895128666735145224 173402521172797813159685037284371942044301 280571172992510140037611932413038677189525 453973694165307953197296969697410619233826 734544867157818093234908902110449296423351 1188518561323126046432205871807859915657177 1923063428480944139667114773918309212080528 3111581989804070186099320645726169127737705 5034645418285014325766435419644478339818233 8146227408089084511865756065370647467555938 13180872826374098837632191485015125807374171 21327100234463183349497947550385773274930109 34507973060837282187130139035400899082304280 55835073295300465536628086585786672357234389 90343046356137747723758225621187571439538669 146178119651438213260386312206974243796773058 236521166007575960984144537828161815236311727 382699285659014174244530850035136059033084785 619220451666590135228675387863297874269396512 1001919737325604309473206237898433933302481297 1621140188992194444701881625761731807571877809 2623059926317798754175087863660165740874359106 4244200115309993198876969489421897548446236915 6867260041627791953052057353082063289320596021 11111460156937785151929026842503960837766832936 17978720198565577104981084195586024127087428957 29090180355503362256910111038089984964854261893 47068900554068939361891195233676009091941690850 76159080909572301618801306271765994056795952743 123227981463641240980692501505442003148737643593 199387062373213542599493807777207997205533596336 322615043836854783580186309282650000354271239929 522002106210068326179680117059857997559804836265 844617150046923109759866426342507997914076076194 1366619256256991435939546543402365995473880912459 2211236406303914545699412969744873993387956988653 3577855662560905981638959513147239988861837901112 5789092068864820527338372482892113982249794889765 9366947731425726508977331996039353971111632790877 15156039800290547036315704478931467953361427680642 24522987531716273545293036474970821924473060471519 39679027332006820581608740953902289877834488152161 64202014863723094126901777428873111802307548623680 103881042195729914708510518382775401680142036775841 168083057059453008835412295811648513482449585399521 271964099255182923543922814194423915162591622175362 440047156314635932379335110006072428645041207574883 712011255569818855923257924200496343807632829750245 1152058411884454788302593034206568772452674037325128 1864069667454273644225850958407065116260306867075373 3016128079338728432528443992613633888712980904400501 4880197746793002076754294951020699004973287771475874 7896325826131730509282738943634332893686268675876375 12776523572924732586037033894655031898659556447352249 20672849399056463095319772838289364792345825123228624 33449372971981195681356806732944396691005381570580873 54122222371037658776676579571233761483351206693809497 87571595343018854458033386304178158174356588264390370 141693817714056513234709965875411919657707794958199867 229265413057075367692743352179590077832064383222590237 370959230771131880927453318055001997489772178180790104 600224643828207248620196670234592075321836561403380341 971183874599339129547649988289594072811608739584170445 CPU times: user 4 µs, sys: 1 µs, total: 5 µs
Wall time: 9.06 µs

### Generar nuevos listados

In [41]:
# a través de la función range, creamos nuevos listado
range(10) # crea un iterador hasta 10 -1

range(0, 10)

In [42]:
range(0,100,2) # crea un iterador de 0 a 100-1 con paso 2

range(0, 100, 2)

In [43]:
list(range(10)) # creamos un iterador y guardamos los valores en una lista

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
list(range(0,100,5)) # creamos un iterador y guardamos los valores en una lista de 0 a 100-1 con paso 5

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [46]:
# Iteramos con un FOR
for i in range(0, 100, 5):
    print(i)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [47]:
for i in range(0, 100, 5):
    print(i, end= " ")

0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95

In [49]:
for i in range(5, 11):
    print(i, end = " ")

5 6 7 8 9 10

In [50]:
# Los Listados son mutables y pueden tener diferentes tipos de valores
lista = list(range(0,103,2)) # valores enteros
lista

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102]

In [51]:
type(lista[10])

int

In [53]:
lista = ['Hola'] # puedo tener cadena de texto
lista

['Hola']

In [56]:
type(lista[0]) # comprobamos el primer elemento

str

In [58]:
lista = ['Hola', 10, 98.1, True, None]
lista

['Hola', 10, 98.1, True, None]

In [61]:
type(lista[0])

str

In [62]:
type(lista[1])

int

In [64]:
type(lista[2])

float

In [66]:
type(lista[3])

bool

In [67]:
type(lista[4])

NoneType

In [70]:
monsters # puedo llamar el listado de elementos

['Kraken', 'Leviathan', 'Uroborus', 'Hydra']

In [72]:
print(monsters) # puedo imprimir los resultados

['Kraken', 'Leviathan', 'Uroborus', 'Hydra']

In [73]:
monsters.sort() # ordenar A-Z llamando la función sort()

In [75]:
print(monsters)

['Hydra', 'Kraken', 'Leviathan', 'Uroborus']

In [76]:
monsters[1:3] # sería devolver dos elementos 1 a 3(3-1), la segunda posición de índice 1, la tercera posición de índice 2

['Kraken', 'Leviathan']

In [79]:
monsters.append("Spongebob") # añade un elemento, pero al final del listado
print(monsters)

['Hydra', 'Kraken', 'Leviathan', 'Uroborus', 'Spongebob', 'Spongebob', 'Spongebob']

In [83]:
monsters.pop() # elimina el último por defecto

'Spongebob'

In [84]:
print(monsters)

['Hydra', 'Kraken', 'Leviathan', 'Uroborus', 'Spongebob', 'Spongebob']

In [85]:
monsters.sort()
print(monsters)

['Hydra', 'Kraken', 'Leviathan', 'Spongebob', 'Spongebob', 'Uroborus']

In [86]:
monsters.pop(index=-2) # por defecto recoge siempre el último elemento, por lo tanto no puedo modificarlo

TypeError: pop() takes no keyword arguments

***

## Diccionarios

para crear un diccionario utilizamos la función `dict` o creamos con `{...}`

Un diccionario tiene dos elementos importantes:
- key
- value

```
key : value
```

In [89]:
# Construimos desde cero un diccionario
agenda = {
    "name":"Lucas",
    "age": 36,
    "profesion": "Data Analyst",
    "ciudad": "Madrid",
    "coche": False
}

In [91]:
agenda

{'name': 'Lucas',
 'age': 36,
 'profesion': 'Data Analyst',
 'ciudad': 'Madrid',
 'coche': False}

In [92]:
type(agenda)

dict

In [93]:
len(agenda) # también tiene la función len que calcula el número de elementos

5

In [94]:
agenda['name'] # para recoger el valor de uno de los parámetros

'Lucas'

In [96]:
agenda['coche'] # es la manera de extraer los valores de un diccionario

False

In [97]:
agenda[0] # no puedo extraer los valores por su índice como vimos en las listas

KeyError: 0

In [99]:
agenda.keys() # extraemos el listado de parámetros o keys

dict_keys(['name', 'age', 'profesion', 'ciudad', 'coche'])

In [101]:
agenda.items() # extraemos los valores asociados de este listado, con un formato que llamaremos pares (parámetro o key , y value)

dict_items([('name', 'Lucas'), ('age', 36), ('profesion', 'Data Analyst'), ('ciudad', 'Madrid'), ('coche', False)])

In [104]:
agenda.items()[0] # no puedo llamar los valores por su índice

TypeError: 'dict_items' object is not subscriptable

In [105]:
# puedo añadir nuevos elementos y su respectivo valor
agenda['aficiones'] = "ciclismo"
print(agenda)

{'name': 'Lucas', 'age': 36, 'profesion': 'Data Analyst', 'ciudad': 'Madrid', 'coche': False, 'aficiones': 'ciclismo'}

In [106]:
# Podemos iterar por clave nuestro diccionario
for clave in agenda.keys():
    print(clave)

name
age
profesion
ciudad
coche
aficiones

In [107]:
# Iteramos para extraer los valores a través de una tupla pares (key, value)
for clave, valor in agenda.items():
    print(clave, valor)

name Lucas
age 36
profesion Data Analyst
ciudad Madrid
coche False
aficiones ciclismo

In [108]:
# Si solo queremos los valores
for valor in agenda.values():
    print(valor)

Lucas
36
Data Analyst
Madrid
False
ciclismo

***

## Tuplas y Set

Las tuplas se utilizan cuando necesitamos almacenar poco valores,  ej. coordenadas

In [110]:
tupla = (12.5 , 60.5)
tupla

(12.5, 60.5)

In [111]:
print(tupla)

(12.5, 60.5)

In [112]:
type(tupla)

tuple

In [114]:
len(tupla)

2

In [115]:
# Puedo crear un listado único
s = set()
s

set()

In [117]:
type(s)

set

In [118]:
# Puedo añadir valores
s.add(2)
s.add(5)
s.add(8)

In [120]:
s

{2, 5, 8}

In [122]:
type(s)

set

In [123]:
s.add(9)

In [125]:
s

{2, 5, 8, 9}

In [127]:
s.remove(5) # quitamos elementos
s

KeyError: 5

In [129]:
tupla

(12.5, 60.5)

# LABS

## Ejercicio 1

Escribid una función que dada una lista de planetas del sistema solar, pregunte al usuario que introduzca una posición y muestre el plante correspondiente a dicha posición. Por ejemplo, si tenemos la siguiente lista: `['Mercurio', 'Venus', 'Tierra', 'Marte']` y el usuario nos ha introducido la posición `3`, hemos de mostrar como resultado por pantalla: `Tierra`.

Consideraciones:

- La posición que introduzca el usuario tiene que ser un número entero estrictamente positivo.
- La función debe controlar el acceso a una posición fuera de la lista mediante una **excepción**. Por ejemplo, en el caso anterior debemos mostrar una mensaje de error si el usuario pide acceder a la posición 10.

In [130]:
# Respuesta
planetas = ['Mercurio', 'Venus', 'Tierra', 'Marte']
planetas

['Mercurio', 'Venus', 'Tierra', 'Marte']

In [131]:
for i, planeta in enumerate(planetas):
    print(i, planeta)

0 Mercurio
1 Venus
2 Tierra
3 Marte

In [138]:
# respuesta Angel
planetas = ['Mercurio', 'Venus', 'Tierra', 'Marte']
pos='a'
while pos.isnumeric() == False:
    pos=input("Introduce la posicion ")
    if not pos.isnumeric():
        print("Error, introduzca un valor numerico positivo")
        
pos=int(pos)        
try:
    print(planetas[pos-1])
except IndexError:
    print("Posicion erronea")

Introduce la posicion  0

Marte

In [139]:
# respuesta Irene
def validar(num):
    try:
        num = int(num)
        if num > 0:
            return True
        return False
    except:
        return False

In [140]:
def pedirPos():
    pos = input("Elige una posición: ")
    while validar(pos) == False:
        print("Debes introducir un número entero positivo")
        pos = input("Elige una posición: ")
    return int(pos)

In [143]:
planetas = ['Mercurio', 'Venus', 'Tierra', 'Marte']
pos = pedirPos()
while pos > len(planetas):
    print("Fuera de rango")
    pos = pedirPos()
print(planetas[pos-1])

Elige una posición:  0

Debes introducir un número entero positivo

Elige una posición:  10

Fuera de rango

Elige una posición:  hola

Debes introducir un número entero positivo

Elige una posición:  4

Marte

In [153]:
# Ricardo
planetas = ['Mercurio', 'Venus', 'Tierra', 'Marte']

def preguntaPlanetas(planetas):
    posicion = int(input("Cual es la posición"))
    if ( posicion > 0):
        try:
                print(planetas[posicion])
        except ValueError: #IndexError, #TypeError
                print("Error al mostrar planeta")
    else:
        print("l numero es menor que cero")

In [154]:
preguntaPlanetas(planetas)

Cual es la posición 2

Tierra

In [158]:
# Fatima
def buscarPlaneta(ele):
    for i, planeta in enumerate(planetas):
        if i==ele:
             print (planeta)
ele = int(input("Introduzca un número del 1 al 4: ")) 
buscarPlaneta(ele)

Introduzca un número del 1 al 4:  4

In [165]:
# Javier
num = int(input("Introduzca la posición del planeta que quiere observar..: "))
try:
    planetas.index(planetas[num-1])
    for i in range(len(planetas)):
        if i == num-1:
            print(str(planetas[num-1]))
            i =+ i+1
        
except:
    print("sólo son 4 planetas")

Introduzca la posición del planeta que quiere observar..:  3

Tierra

In [166]:
# Solución alternativa
def comprueba_posicion(posicion):
    # Inicializamos una variable booleana que recogerá el resultado final
    es_valida = False
    
    try:
        # Intentamos convertir la posición a un número entero.
        # Esta instrucción lanzará una excepción de tipo ValueError
        # si no se ha podido realizar la conversión.
        posicion_int = int(posicion)
        
        # Comprobamos que la posición es estrictamente mayor que 0
        es_valida = posicion_int > 0
    except ValueError:
        # En caso que no se haya podido convertir el parámetro posición
        # a un número entero, retornamos False
        es_valida = False
        
    return es_valida

In [170]:
def escoge_planeta(planetas):
    # Preguntamos al usuario por la posición deseada.
    # Utilizamos la función raw_input para evitar que Python evalue la expresión introducida
    # y así tener más control sobre el input del usuario.
    posicion = input('Introduce la posición deseada: ')
    
    # Comprobamos que la posición introducida por el usuario cumple con los requisitos
    if (comprueba_posicion(posicion)):
        try:
            # Accedemos a la posición posicion - 1 del array de planetas
            # dado que en Python el índice de los arrays empieza por el 0.
            print(planetas[int(posicion) - 1])
        except IndexError:
            # Si el usuario ha introducido una posición fuera del array, mostramos un mensaje de error
            print('¡Cuidado! Has introducido una posición no válida.')
    else:
        # Si el que ha introducido el usuario no cumple las condiciones indicadas
        # también se lo haremos saber.
        print('¡Cuidado! La posición introducida no cumple el formato establecido.')

In [173]:
escoge_planeta(['Mercurio', 'Venus', 'Tierra', 'Marte'])

Introduce la posición deseada:  hola

¡Cuidado! La posición introducida no cumple el formato establecido.

***

### Ejercicio 2 - a realizar

Dada una lista de planetas del sistema solar, determinad cuales de estos planetas tienen una masa superior a la de la Tierra. Por ejemplo, si la lista inicial es `['Venus', 'Marte', 'Saturno']`, el resultado que mostraríamos por pantalla sería `['Saturno']` ya que el planeta Saturno tiene una masa `95.2` veces superior a la Tierra.

Consideraciones:

- Debéis tener en cuenta que el nombre de los planetas que nos pasan por parámetro puede estar en minúsculas, mayúsculas o una combinación de ambas.
- Podéis asumir que no habrá acentos en el nombre de los planetas.
- Debéis determinar aquellos planetas que tiene una massa estrictamente superior a la de la Tierra.
- No habrá planetas repetidos en la lista que nos pasan por parámetro.

In [174]:
# Masas medidas con respecto a la Tierra
# Es decir, un valor de 14.6 representaria una masa 14.6 veces superior a la de la Tierra
masas = {'Mercurio': 0.06, 'Venus': 0.82, 'Tierra': 1, 'Marte': 0.11, 'Jupiter': 317.8, 
          'Saturno': 95.2, 'Urano': 14.6, 'Neptuno': 17.2, 'Pluto': 0.0022}

In [175]:
def planetas_mas_grandes_que_Tierra(planetas):
    """
    Planetas con una masa superior a la de la Tierra
    """
    planetas_masa_superior = []

    # Código a completar

    return planetas_masa_superior

In [ ]:
# OUTPUT resultado esperado

# Ejemplos de uso de la función anterior
print(planetas_mas_grandes_que_Tierra(['Venus', 'Mercurio', 'Marte']))
print(planetas_mas_grandes_que_Tierra(['Jupiter', 'Saturno', 'Pluto']))
print(planetas_mas_grandes_que_Tierra(['urano', 'tierra', 'neptuno', 'marte', 'Venus']))
print(planetas_mas_grandes_que_Tierra(['Tierra', 'MeRcUrIo', 'PLUTO', 'SATURNO']))

# Podéis añadir más ejemplos si lo consideráis oportuno